@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  margin: 0;
  font-family: "Merriweather", serif;
}

/* images */
#hero-logo {
  margin: auto;
  display: block;
  width: 50%;
}

#hannah-headshot {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  outline: 5px solid rgba(200, 203, 251, 0.6);
}

.icon-sizing {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 10px;
}

.cleaning-pic-style {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  outline: 5px white solid;
}

.cleaning-pic-style:hover {
  cursor: pointer;
  height: 320px;
  width: 320px;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
  outline: 5px solid rgb(251, 246, 240);
}

.full-cleaning-pic {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

#pictures {
  padding: 100px;
}

/* nav */
#nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-style {
  opacity: 100%;
  background-color: rgb(200, 203, 251);
}

.nav-item:hover {
  background-color: rgb(221, 223, 255);
}

/* about */
#about-section {
  padding-top: 100px;
  margin: 100px;
  margin-top: 0px;
  width: 100%;
}

/* calendar */
#calendar {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 40px;
  background-color: rgba(200, 203, 251, 0.5);
  border-radius: 6px;
}

.question-consultation {
  font-size: 20px;
}

.question-consultation:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

/* mulit-use */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 400px;
}
