@import url("https://fonts.googleapis.com/css2?family=Abel&family=Arapey&display=swap");

#root {
  --dark-blue: rgb(118, 122, 185);
  --light-blue: rgb(217, 220, 254);
}

body {
  margin: 0;
  font-family: "Arapey", serif;
  font-size: 25px;
}

h1 {
  font-family: "Abel", sans-serif;
  font-size: 50px;
}

/* images */
#hero-logo {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}

#hero-background {
  background-color: var(--dark-blue);
  height: auto;
}

#hannah-headshot {
  height: 10vw;
  width: 10vw;
  object-fit: cover;
  object-position: center;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  outline: 5px solid var(--dark-blue);
}

@media (max-width: 600px) {
  #hannah-headshot {
    margin-top: -50px;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
  }

  #headshot-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    width: 100%;
  }
}

#hero-background {
  scroll-behavior: smooth;
}

.icon-sizing {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 10px;
}

.cleaning-pic-style {
  height: 20vw;
  width: 20vw;
  min-height: 100px;
  min-width: 100px;
  object-fit: cover;
  margin-bottom: 20px;
  outline: 5px white solid;
  transition-property: height, width, margin;
  transition-duration: 0.3s;
}

.cleaning-pic-style:hover {
  cursor: pointer;
  height: 20.5vw;
  width: 20.5vw;
  margin-top: -3px;
  margin-left: -3px;
  margin-bottom: 3px;
}

.services-home {
  text-align: center;
  padding: 50px;
}

.theme-button {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  box-shadow: none !important;
  margin: 50px;
  border-radius: 3px;
  border: none !important;
  padding: 0px 10px 0px;
}

.theme-button:hover {
  background-color: rgba(118, 122, 185, 0.7);
}

@keyframes slideinfade {
  from {
    margin-left: -20px;
    margin-right: 20px;
    opacity: 30%;
  }
  to {
    margin-left: 0px;
    margin-right: 0px;
    opacity: 100%;
  }
}

.full-cleaning-pic {
  height: 500px;
  width: 500px;
  object-fit: cover;
  animation-name: slideinfade;
  animation-duration: 1s;
}

#pictures {
  padding: 18vw;
}

#gradient {
  background-color: var(--light-blue);
  background-repeat: no-repeat;
  background-size: cover;
}

/* nav */
#nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-link {
  padding-top: 12px;
  font-size: 20px;
  color: var(--light-blue) !important;
}

a {
  text-decoration: none !important;
}
.nav-style {
  opacity: 100%;
  height: 100%;
  background-color: var(--dark-blue);
}

.nav-item:hover {
  background-color: rgb(97, 101, 158);
}

.nav-item {
  transition-property: background-color;
  transition-duration: 0.4s, 1s;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: none;
}

/* about */
#about-section {
  padding-top: 100px;
  width: 100%;
}

.about-text {
  min-width: 400px;
  margin: auto;
}

/* calendar */
#calendar {
  width: 100%;
  display: block;
  margin: auto;
  padding: 40px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 50px;
}

.question-consultation {
  font-size: 20px;
  animation-name: slideinfade;
  animation-duration: 0.5s;
  text-decoration: underline;
}

.question-consultation:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

/* footer */
#footer {
  background-color: var(--dark-blue);
  width: 100%;
  height: auto;
  padding-top: 70px;
}

.footer-icon:hover {
  cursor: pointer;
}

.footer-icon {
  width: 10vw;
  height: auto;
  margin: 1vw;
  max-width: 100px;
  max-height: 100px;
  transition-property: margin;
  transition-duration: 0.3s, 0.5s;
}

.info-footer {
  width: auto;
  min-width: 290px;
}

.copyright {
  padding-bottom: 80px;
}

/* mulit-use */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  min-height: 400px;
}

.display-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
